<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Enable debug logs specifically for Restate -->
    <logger name="dev.restate" level="DEBUG"/>
    <!-- Enable your app's logs -->
    <logger name="com.cashi" level="DEBUG"/>

</configuration>
